@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.aboutContainer {
    position:relative;
    display: flex;
    flex-direction: row;
    
    
}
.aboutNav {
    position:sticky;
    height: 100%;
    top:10vh;
    
}
.aboutMain {
    flex: 1;
    margin-left: 15px;
    height:auto;
    overflow-y: auto;
}