@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, #000000de 50%, #00000000 100%);
    // box-shadow: 0px 50px 50px #ffffff inset;
}
.landingContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
    padding: 100px;
    
}
.fond {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}
.textAccueilContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 25px;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 54px;
    color: $secondary-color;
    font-weight: $heavy-weight;
    margin-top: 30px;
    row-gap: 5px;

}
.introText {
    width: 500px;
    font-size: 18px;
    color: $primary-color;


}
.buttonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 50px;

}
.carousel {
    width: 200px;
    height: 300px;
}