@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.formationCards {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    margin-top: 30px;
    
}