@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

header {
    
    padding: 20px 50px;
    height: 10vh;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
    background-color: $third-color;
    border-bottom: 2px solid $border-color;
}
ul {
    all:unset;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
li {
    all:unset;
}
.pageLink{
    all: unset;
    font-size: 18px;
    font-weight: $middle-weight;
    color: $primary-color;
    cursor: pointer;
    &:hover {
        color: $secondary-color;
        
    }
}
