@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.navAbout {
    display: flex;
    flex-direction: column;
    width: 13vw;
    margin: 50px 0 0 6vw;
    background-color: $third-color;
}
.title {
    font-size: 36px;
    color: $secondary-color;
    font-weight: $heavy-weight;
    margin-bottom: 15px;
}
.navList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}
li {
    border: 1px black solid;
}
.inactive {
    cursor: pointer;
    font-size: 14px;
    font-weight: $light-weight;
    color: $primary-color;

    &:hover {
        color: $secondary-color;
    }
}
.active {
    font-size: 16px;
    font-weight: $heavy-weight;
    color: $secondary-color;
    
}